<app-aside></app-aside>
<app-header></app-header>
<section>
  <div class="container">
    <div class="body">
      <h4>Account Information</h4>
      <div class="info">
        <img [src]="profile_pic" alt="Profile Picture">
        <div>
          <p>{{ name }}</p>
          <p>{{ email }}</p>
        </div>
      </div>
    </div>
  
    <div class="input-container">
      <label for="cv">CV</label>
      <input type="file" id="cv" name="cv" accept=".pdf,.doc,.docx" (change)="onFileSelected($event, 'cv')">
      <label for="profile-picture">Profile Picture</label>
      <input type="file" id="profile-picture" name="profile-picture" accept="image/*" (change)="onFileSelected($event, 'profilePicture')">
      <button class="submit-btn" (click)="onSubmit()">Enviar</button>
    </div>

    <div class="add-feature">
      <select name="feature" id="feature">
        <option value="feature1">Característica 1</option>
        <option value="feature2">Característica 2</option>
      </select>
      <button class="add-btn">Añadir</button>
    </div>
  
    <div class="features">
      <h4>My Characteristics</h4>
      <div class="checkbox">
        <input type="checkbox" id="feature1" name="feature1" class="custom-checkbox">
        <label for="feature1">Característica 1</label><br>
        <input type="checkbox" id="feature2" name="feature2" class="custom-checkbox">
        <label for="feature2">Característica 2</label><br>
        <input type="checkbox" id="feature3" name="feature3" class="custom-checkbox">
        <label for="feature3">Característica 3</label><br>
        <input type="checkbox" id="feature4" name="feature4" class="custom-checkbox">
        <label for="feature4">Característica 4</label><br>
        <input type="checkbox" id="feature5" name="feature5" class="custom-checkbox">
        <label for="feature5">Característica 5</label><br>
        <input type="checkbox" id="feature6" name="feature6" class="custom-checkbox">
        <label for="feature6">Característica 6</label><br>
      </div>
    </div>
  </div>
</section>
