<app-aside></app-aside>
<app-header></app-header>
<section>

  <div class="template eight">
    <div>
      <div class="white">
        <div class="white">
          <div class="template seven">

            <div class="user-div">
              <div id="profile-pic" *ngIf="user">
                <img src="../../../assets/img/{{user.profilePic }}" alt="" />
              </div>
              <p>{{ user?.name }}</p>

              <p>{{ user?.email }}</p>
              <p><a href="">Download CV</a></p>
              <h2>History</h2>
              <div id="projects"class="overflow">
                <table>
                  <div *ngIf="userView">
                    <table>
                      <thead>
                        <tr>
                          <th>Project</th>
                          <th>Project Description</th>
                          <th>Start Date - End Date</th>
                          <th>Role</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let historyItem of userView">
                          <td>{{ historyItem.Project.name }}</td>
                          <td>{{ historyItem.Project.description }}</td>
                          <td>{{ historyItem.Project.startDate | date }} - {{ historyItem.Project.finishDate | date }}</td>
                          <td>{{ historyItem.User.role.name }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  
                </table>
              </div>
            </div>
            <div class="evaluation_container" *ngIf="evaluations.length > 0">
              <div class="inner_evaluation_container">
                <h2>Evaluations</h2>
                <div class="evaluation" *ngFor="let evaluation of evaluations">
                  <h1>Project name: {{evaluation.userProject.project.name}}</h1>
                  <p><strong>Team Work:</strong> {{ evaluation.teamWork }}</p>
                  <p><strong>Individual Work:</strong> {{ evaluation.individualWork }}</p>
                  <p><strong>Initiative:</strong> {{ evaluation.initiative }}</p>
                  <p><strong>Problem Resolution:</strong> {{ evaluation.problemResolution }}</p>
                  <p><strong>Observations:</strong> {{ evaluation.observation }}</p>
                </div>
              </div>
            </div>
            <div *ngIf="evaluations.length === 0">
              <p>No evaluations found for this user.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="white">
      <div class="white">
        <div class="div-characteristics">
          <!-- <div class="characteristics" *ngFor="let characteristics of user">
            <h3>Characteristics</h3>
            <label>
            {{characteristics.name}}
            </label>
          </div> -->

        </div>
      </div>
    </div>
  </div>
</section>
