
    <div class="container-login">

        <div class="div-left">
            <img src="../../assets/img/whitelogo.png" alt="">
        </div>

        <div class="div-right">
            <div class="login-form">
                <img class="login-img" src="../../assets/img/login_usericon.png" alt="">
                <h1>Log in</h1>
                <label for="user">Email</label>
                <input type="text" name="user">
                <label for="password">Password</label>
                <input type="password" name="password">
                <button>Login</button>
            </div>
        </div>
        
    </div>

