
    <div class="container-login">

        <div class="div-left">
            <img src="../../assets/img/whitelogo.png" alt="">
        </div>

        <div class="div-right">
            <div class="login-form">
                <img class="login-img" src="../../assets/img/login_usericon.png" alt="">
                <h1>Log in</h1>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                    <label for="user">Email</label>
                    <input formControlName="email" type="text" name="user">
                    <label for="password">Password</label>
                    <input formControlName="password" type="password" name="password">
                    <button type="submit">Login</button>
                </form>
                
            </div>
        </div>
        
    </div>

