section {
  background-color: #F5F5F5;
}

.overflow {
  overflow: scroll;
  height: 500px;
  /* Agregamos overflow: scroll para habilitar el desplazamiento */
  overflow-x: hidden
}

.overflow {
  overflow: scroll;
  height: 500px;
  overflow-x: hidden;
}

.overflow::-webkit-scrollbar {
  width: 9px;
  /* Ancho del scrollbar */
}

.overflow::-webkit-scrollbar-track {
  background: #F5F5F5;
  /* Color de fondo del track */
}

.overflow::-webkit-scrollbar-thumb {
  background: #555;
  /* Color del scrollbar */
  border-radius: 6px;
  /* Radio de las esquinas del thumb */
}

.overflow::-webkit-scrollbar-thumb:hover {
  background: #002E3C;
  /* Cambio de color al pasar el cursor sobre el thumb */
}


button {
  background-color: #FF6D43;
  color: white;
  border-radius: 10px;
  border: none;
}



.eight {
  grid-template-columns: 20% 80%;

}

h2 {
  color: #FF6D43;
}

.white {
  background-color: #F5F5F5;
  border-radius: 20px;
  margin: 10px;
}


.seven {

  grid-template-columns: 70% 30%;
  /* Dividimos en dos columnas */
  /* Agrega un borde alrededor de cada div */
  border-radius: 10px;
  /* Ajusta el radio del borde para que sea más suave */
  margin-bottom: 20px;
  /* Agrega un margen inferior para separar los divs */
  padding: 15px;
  background-color: rgb(255, 255, 255);

}
.info-project{
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}


.template {
  display: grid;
}

#searchbar {
  display: flex;
  color: white;
  align-items: end;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  padding: 10px;
  /* Agrega un relleno para separar el borde del contenido */
  box-sizing: border-box;
  /* Incluye el relleno y el borde en el ancho total */
  background-color: #002E3C;
  border-radius: 10px;
  gap: 10px;
}

#searchbar input[type="text"] {
  width: 100%;
  height: 100%;
  /* Hace que el input ocupe todo el ancho disponible */
  padding: 1px;
  /* Ajusta el relleno para que se vea bien */
  border: 1px solid #ccc;
  /* Añade un borde para que se destaque */
  border-radius: 5px;
  /* Añade bordes redondeados */
  font-size: 16px;
  /* Tamaño de fuente */
  background-color: #f2f2f2;
  /* Color de fondo */
  outline: none;
  /* Quita el resaltado al hacer clic */
}

.search-button{
  background-color: #f2f2f2;
  height: 100%;
  width: 150px;
  color: black;
  border-radius: 5px;
}
#searchbar input[type="text"]:focus {
  border-color: #002E3C;
  /* Cambia el color del borde al hacer foco */
}

.div-characteristics {
  /* Dividimos en dos columnas */
  /* Agrega un borde alrededor de cada div */
  border-radius: 10px;
  /* Ajusta el radio del borde para que sea más suave */
  margin-bottom: 20px;
  /* Agrega un margen inferior para separar los divs */
  padding: 15px;
  background-color: rgb(255, 255, 255);
}

.characteristics{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label{
  display: flex;
  align-items: center;
  gap: 5px;
}
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #FF6D43; 
  margin: 0;
  padding: 0;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #FF6D43;
}

.request-button{
  padding: 10px;
  border-radius: 2px;
}