<app-aside></app-aside>
<app-header></app-header>
<section>
  <div id="searchbar">
    <input (click)="deselectAllCheckboxes()"
      type="text"
      [(ngModel)]="terminoBusqueda"
      placeholder="Buscar..."
      (click)="search(); deselectAllCheckboxes()"
      (input)="search()"
    />
  </div>

  <div class="template-eight">
    <div class="white overflow">
      <div class="white">
        <div class="div-characteristics">
            <button (click)="deselectAllCheckboxes()"  (click)="search()">Reset All</button>
          <div class="characteristics">
            <h3>Lenguaje</h3>
            <label *ngFor="let filter of filters">
              <input #checkbox  class="checkbox" type="checkbox" [value]="filter.id" name="characteristic"
                     (change)="onChangeCharacteristic(filter.id, $event); applySelectedCharacteristics()" />
              {{filter.name}}
            </label>
          </div>
        </div>
      </div>
    </div>
   
    <div>
       <div id="searchbar">
      <input
        type="text"
        [(ngModel)]="terminoBusqueda"
        placeholder="Search for the project by name"
        (input)="search()"
      />
      <span class="input-group-text"><i class="fas fa-search"></i></span>
    </div>
      <div class="white overflow top" *ngIf="projects">
        <div class="white">
          <div *ngFor="let project of projects" class="template seven">
            <div>
              <h1>{{ project.name }}</h1>
              <p>{{ project.description }}</p>
            </div>
            <div class="info-project">
              <p>Hace dos semanas</p>
              <button class="request-button">Solicitar Proyecto</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
