<app-aside></app-aside>
<app-header></app-header>

<section>
    <div id="section-calendar">
        <div id="div-events">
            <button class="orange-button">Add New Event +</button>
            <div id="events">
                <p>You are going to</p>
                <div id="event-list">
                    <div class="grid-event">
                        <i class="bi bi-calendar-event"></i>
                        <div class="event">
                            <b>Reunión con Alex</b>
                            <p>Fecha: 17/07/2024</p>
                        </div>
                    </div>
                    <div class="grid-event">
                        <i class="bi bi-calendar-event"></i>
                        <div class="event">
                            <b>Hacer MyProTask</b>
                            <p>17 Junio 2024</p>
                        </div>
                    </div>
                    <div class="grid-event">
                        <i class="bi bi-calendar-event"></i>
                        <div class="event">
                            <b>Echar a Kevin del grupo</b>
                            <p>29 Mayo 2024</p>
                        </div>
                    </div>
                    <div class="grid-event">
                        <i class="bi bi-calendar-event"></i>
                        <div class="event">
                            <b>Reunión con Alex</b>
                            <p>09 de Febrero 2025</p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="more-button">See more</button>
        </div>
        <full-calendar [options]="calendarOptions"></full-calendar>
    </div>

</section>
<full-calendar [options]="calendarOptions"></full-calendar>
