<app-aside></app-aside>
<app-header></app-header>
<section>
    <div id="section-calendar">
        <div id="div-events">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#NewEvent">
                <i class="bi bi-plus bi-lg"></i> New Event
            </button>
            <div id="events">
                <p>You are going to</p>
                <div id="event-list">
                    <div class="grid-event" data-bs-toggle="modal" data-bs-target="#EditEvent">
                        <i class="bi bi-calendar-event"></i>
                        <div class="event">
                            <b>Meeting with AI team</b>
                            <p>Date: 17/07/2024</p>
                        </div>
                    </div>
                    <div class="grid-event" data-bs-toggle="modal" data-bs-target="#EditEvent">
                        <i class="bi bi-calendar-event"></i>
                        <div class="event">
                            <b>Start MyProTask project</b>
                            <p>17 Junio 2024</p>
                        </div>
                    </div>
                    <div class="grid-event" data-bs-toggle="modal" data-bs-target="#EditEvent">
                        <i class="bi bi-calendar-event"></i>
                        <div class="event">
                            <b>Kick out Alex of MyProTask</b>
                            <p>29 Mayo 2024</p>
                        </div>
                    </div>
                    <div class="grid-event" data-bs-toggle="modal" data-bs-target="#EditEvent">
                        <i class="bi bi-calendar-event"></i>
                        <div class="event">
                            <b>Negotiations with Eviden</b>
                            <p>09 de Febrero 2025</p>
                        </div>
                    </div>
                </div>
            </div>
            <button class="more-button">See more</button>
        </div>
        <full-calendar [options]="calendarOptions"></full-calendar>
    </div>

</section>

<!-- Modal -->
<div class="modal fade" id="NewEvent" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add new Event</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Formulario -->
                <form>
                    <!-- Título -->
                    <div class="mb-3 text-start">
                        <label for="title" class="form-label ">Title:</label>
                        <input type="text" class="form-control" id="title">
                    </div>

                    <!-- Fecha final -->
                    <div class="mb-3 text-start">
                        <label for="finalDate" class="form-label ">Finish Date:</label>
                        <input type="date" class="form-control" id="finalDate">
                    </div>
                    <!-- Descripción de la tarea -->
                    <div class="mb-3 text-start">
                        <label for="taskDescription" class="form-label ">Description:</label>
                        <textarea class="form-control" id="taskDescription" rows="3"></textarea>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="EditEvent" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edit Event</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Formulario -->
                <form>
                    <!-- Título -->
                    <div class="mb-3 text-start">
                        <label for="title" class="form-label ">Title:</label>
                        <input type="text" class="form-control" id="title">
                    </div>

                    <!-- Fecha final -->
                    <div class="mb-3 text-start">
                        <label for="finalDate" class="form-label ">Finish Date:</label>
                        <input type="date" class="form-control" id="finalDate">
                    </div>
                    <!-- Descripción de la tarea -->
                    <div class="mb-3 text-start">
                        <label for="taskDescription" class="form-label ">Description:</label>
                        <textarea class="form-control" id="taskDescription" rows="3"></textarea>
                    </div>

                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>
