full-calendar{
    margin-top: 35px;
    margin-left: 140px;
    width: 75%;
    height: 70%;
}

.fc .fc-daygrid-day-number {
    padding: 4px;
    position: relative;
    z-index: 4;
    color: red;
}
