<app-aside></app-aside>
<app-header></app-header>
<section >   
      <div class="container" *ngIf="rol=='developer'">
        <div class="left ">
            <div class="head">     
                <h5>My Tasks:</h5>   
                <label for="priority"> &nbsp; &nbsp;</label>
                <select name="priority" id="pr" [(ngModel)]="selectedPriority">
                <option value=".">All</option>
                <option value="HIGH">High</option>
                <option value="MID">Mid</option>
                <option value="LOW">Low</option>
                </select>
                
            </div>
            <!--Tasks views-->
            <div class="overflow">
            <div *ngFor="let task of tasksList" class="task_containers " (click)="selectTask(task)" [style.border-color]="getColorByPriorityBorder(task.priority)" [ngStyle]="{ display: task.priority === selectedPriority || selectedPriority === '.' ? 'block' : 'none' }" >
                <div  class="template_tasks">
                    <div class="task_icon" [style.color]="getColorByPriority(task.priority)">
                    <i class="bi bi-circle"></i>
                    </div>
                    <h6 style="margin: 5px;">{{task.project.name}}</h6> 
                </div> 
                <div class="template_tasks">
                <p>{{task.description}}</p> 
                <img src="{{task.taskPic}}" alt="" style="width: 150px; border-radius: 20px;">
                </div> 
                <div class="template_tasks">
                    <strong>Project name:</strong>{{task.name}}        
                </div>
                <div class="template_tasks">
                    <p>Priority: </p> <p [style.color]="getColorByPriority(task.priority)"> {{task.priority}}</p>
                    <p>Date: {{task.finishDate}}</p>    
                </div>            
            </div>  
        </div>         
        </div>
        <!--Rigth hand(All information)-->
        <div class="right">
            <div class="container" *ngIf="selectedTask">
              <img src="" alt="Ejemplo" style="width: 220px; border-radius: 20px;">
              <div class="text">
                <h3>{{selectedTask?.name }}</h3>
                <p><strong>Priority:</strong> {{ selectedTask?.priority }}</p>
              </div>
            </div>
            <div class="text">
              <strong>Project name:</strong> {{ selectedTask?.project.name }}<br>
              <strong>Objective:</strong> {{ selectedTask?.description }}<br>
              <strong>Date:</strong> {{ selectedTask?.finishDate }}<br>
              
              <!--Iconos para Manager
              <i class="bi bi-trash"></i>&nbsp;
              <i class="bi bi-trash-fill"></i>
              <i class="bi bi-pencil-square"></i>
              -->
            </div>
            
          </div>
          
      </div>
      <!--ROL PM-->
      <div class="container" *ngIf="rol=='manager'">
        <div class="left ">
            <div class="head">
              <div>
                <h5>My Tasks:</h5>   
                <label for="priority"> &nbsp; &nbsp;</label>
                <select name="priority" id="pr" [(ngModel)]="selectedPriority">
                <option value=".">All</option>
                <option value="HIGH">High</option>
                <option value="MID">Mid</option>
                <option value="LOW">Low</option>
                </select>
              </div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#NewTask">
                  <i class="bi bi-plus bi-lg"></i> Task
                </button> 
            </div>
            <!--Tasks views-->
            <div class="overflow">
            <div *ngFor="let task of tasksList" class="task_containers " (click)="selectTask(task)" [style.border-color]="getColorByPriorityBorder(task.priority)" [ngStyle]="{ display: task.priority === selectedPriority || selectedPriority === '.' ? 'block' : 'none' }" >
                <div  class="template_tasks">
                    <div class="task_icon" [style.color]="getColorByPriority(task.priority)">
                    <i class="bi bi-circle"></i>
                    </div>
                    <h6 style="margin: 5px;">{{task.project.name}}</h6> 
                </div> 
                <div class="template_tasks">
                <p>{{task.description}}</p> 
                <img src="../../../assets/img/originallogo.png" alt="" style="width: 150px; border-radius: 20px;">
                </div> 
                <div class="template_tasks">
                    <strong>Project name:</strong>{{task.name}}        
                </div>
                <div class="template_tasks">
                    <strong>Priority:</strong> <strong [style.color]="getColorByPriority(task.priority)">{{task.priority}}</strong> &nbsp; &nbsp; &nbsp;
                    <strong>Date:</strong>{{task.finishDate}}      
                </div>            
            </div>         

            <!-- Modal -->
            <div class="modal fade" id="NewTask" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Add new Task</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">                 
                    <!-- Formulario -->
                    <form>
                      <!-- Título -->
                      <div class="mb-3 text-start">
                        <label for="title" class="form-label ">Título:</label>
                        <input type="text" class="form-control" id="title">
                      </div>
                  
                      <!-- Fecha final -->
                      <div class="mb-3 text-start">
                        <label for="finalDate" class="form-label ">Fecha final:</label>
                        <input type="date" class="form-control" id="finalDate">
                      </div>
                      <!-- Prioridad -->
                      <div class="mb-3 text-start">
                          <label class="form-label">Prioridad:</label><br>
                          <div class="form-check form-check-inline align-items-center">
                              <div class="d-flex align-items-center">
                                  <label class="form-check-label" for="priorityHigh">
                                      <i class="bi bi-dot text-danger icon-style2"></i> Alta
                                  </label>
                                  <input class="form-check-input ms-2" type="checkbox" id="priorityHigh">
                              </div>
                          </div>
                          <div class="form-check form-check-inline align-items-center">
                              <div class="d-flex align-items-center">
                                  <label class="form-check-label" for="priorityMid">
                                      <i class="bi bi-dot text-primary icon-style2"></i> Media
                                  </label>
                                  <input class="form-check-input ms-2" type="checkbox" id="priorityMid">
                              </div>
                          </div>
                          <div class="form-check form-check-inline align-items-center">
                              <div class="d-flex align-items-center">
                                  <label class="form-check-label" for="priorityLow">
                                      <i class="bi bi-dot text-warning icon-style2"></i> Baja
                                  </label>
                                  <input class="form-check-input ms-2" type="checkbox" id="priorityLow">
                              </div>
                          </div>
                      </div>
                                                                             
                    <!-- Descripción de la tarea -->
                     <div class="mb-3 text-start">
                       <label for="taskDescription" class="form-label ">Descripción de la tarea:</label>
                      <textarea class="form-control" id="taskDescription" rows="3"></textarea>
                     </div>

                    </form>
                  </div>
                                                  
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="InsertTask(selectedTask)">Done</button>
                  </div>
                </div>
              </div>
            </div>
                       
          </div>         
        </div>
        <!--Rigth hand(All information)-->
        <div class="right">
            <div class="container" *ngIf="selectedTask">
              <img src="../../../assets/img/blacklogo.png" alt="Ejemplo" style="width: 220px; border-radius: 20px;">
              <div class="text">
                <h3>{{selectedTask?.name }}</h3>
                <p><strong>Priority:</strong> {{ selectedTask?.priority }}</p>
                <p><strong>Status:</strong> {{ selectedTask?.active }}</p>
              </div>
            </div>
            <div class="text">
              <strong>Project name:</strong> {{ selectedTask?.project.name }}<br>
              <strong>Objective:</strong> {{ selectedTask?.description }}<br>
              <strong>Date:</strong> {{ selectedTask?.finishDate }}<br>

              <div class="icons-container">             
              <i class="bi bi-trash icon-style"  data-bs-toggle="modal" data-bs-target="#DeleteTask"></i>&nbsp;
              <i class="bi bi-pencil-square icon-style" data-bs-toggle="modal" data-bs-target="#UpdateTask"></i>
              <!--UPDATE TASK POPUP-->
              <!-- Modal -->
            <div class="modal fade" id="UpdateTask" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Update Task</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">                 
                    <!-- Formulario -->
                    <form>
                      <!-- Título -->
                      <div class="mb-3 text-start">
                        <label for="title" class="form-label ">Título:</label>
                        <input type="text" class="form-control" id="title" [value]="selectedTask?.name">
                      </div>
                  
                      <!-- Fecha final -->
                      <div class="mb-3 text-start">
                        <label for="finalDate" class="form-label ">Fecha final:</label>
                        <input type="date" class="form-control" id="finalDate" [value]="selectedTask?.finishDate">
                      </div>
                      <!-- Prioridad -->
                      <div class="mb-3 text-start">
                          <label class="form-label">Prioridad:</label><br>
                          <div class="form-check form-check-inline align-items-center">
                              <div class="d-flex align-items-center">
                                  <label class="form-check-label" for="priorityHigh">
                                      <i class="bi bi-dot text-danger icon-style2"></i> Alta
                                  </label>
                                  <input class="form-check-input ms-2" type="checkbox" id="priorityHigh" [checked]="selectedTask?.priority === 'HIGH'">
                              </div>
                          </div>
                          <div class="form-check form-check-inline align-items-center">
                              <div class="d-flex align-items-center">
                                  <label class="form-check-label" for="priorityMid">
                                      <i class="bi bi-dot text-primary icon-style2"></i> Media
                                  </label>
                                  <input class="form-check-input ms-2" type="checkbox" id="priorityMid" [checked]="selectedTask?.priority === 'MID'">
                              </div>
                          </div>
                          <div class="form-check form-check-inline align-items-center">
                              <div class="d-flex align-items-center">
                                  <label class="form-check-label" for="priorityLow">
                                      <i class="bi bi-dot text-warning icon-style2"></i> Baja
                                  </label>
                                  <input class="form-check-input ms-2" type="checkbox" id="priorityLow" [checked]="selectedTask?.priority === 'LOW'">
                              </div>
                          </div>
                      </div>
                                                                             
                    <!-- Descripción de la tarea -->
                     <div class="mb-3 text-start">
                       <label for="taskDescription" class="form-label ">Descripción de la tarea:</label>
                      <textarea class="form-control" id="taskDescription" rows="3">{{ selectedTask?.description }}</textarea>
                     </div>

                    </form>
                  </div>
                                                  
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="updateTask(selectedTask)" >Done</button>
                  </div>
                </div>
              </div>
            </div>
              </div>
            </div>
            
          </div>
          
      </div>
      
</section>