<app-aside></app-aside>
<app-header></app-header>

<div class="cont">
    <label class="pic">
        <i class="bi bi-camera2"></i>
        <p>Upload Photo</p>
        <input type="file" id="fileInput" accept="image/*" style="display: none;">
    </label>
    
    <div class="abc">
         <div class="upper">
            <div class="formupper">
                <label for="">Project's name</label>
                <input type="text">
                <label for="">Vacancies</label>
                <input type="number"><br>
                <div class="char">
                    <label for="characteristics">Characteristics</label>
                    <div class="input-group">
                    <select name="characteristics" id="characteristics">
                        <option value="php">PHP</option>
                        <option value="java">Java</option>
                        <option value="python">Python</option>
                    </select>
                    <button>Add</button>
                    </div>
                </div>
            </div>
    </div>
    <div class="lower">
        <div class="formlower">
            <label for="">Project Manager</label>
            <input type="text">
            <label for="">Finish Date</label>
            <input type="date" class="custom-date-input"><br>
            <label for="">Description</label>
            <textarea></textarea>
        </div>
    </div>
</div>
<div class="butt">
    <button>Add Now</button>
</div>
   
</div>
