<app-aside></app-aside>
<app-header></app-header>

<section class="overflow">
  <div class="delete-project">
    <h1>{{ project.name }}</h1>
    <button class="delete-project" (click)="openModal3()">Eliminar proyecto</button>
    <div id="modal3" class="modal3">
      <div class="modal-content3">
        <span class="close3" (click)="closeModal3()">&times;</span>
          <h1>¿Desea eliminar el Proyecto?</h1>
        <button (click)="updateActiveProjectById(project.id)" >Eliminar</button>    
      </div>
    </div>
  </div>
  <div class="template four">
    <ng-container *ngFor="let user of userProjects; let i = index">
      <div
        class="user-div"
        
        [style.border]="getUserBorderStyle(user.role.name)"
      >
        
          <div class="two ico-photo">
            <div id="profile-pic" [routerLink]="['/user', user.user.idUser]">
              <img src="../../assets/img/user.png" alt="" />
              
            </div>
            <i *ngIf="i !== 0" class="bi bi-trash" (click)="openModal2()"></i>
            <div *ngIf="i !== 0" id="modal2" class="modal2">
              <div class="modal-content2">
                <span class="close2" (click)="closeModal2()">&times;</span>
                <h1>¿Desea eliminar el usuario?</h1>
                <button>Eliminar</button>    
              </div>
            </div>
          </div>
        
        <p>{{ user.user.name }}</p>
        <p>{{ user.user.email }}</p>
        <p>{{ user.user.das }}</p>
      </div>
    </ng-container>

    <div class="add-user" *ngIf="activeMembers < vacancy" (click)="openModal()">
      <div class="circle-icon">
        <p class="plus">+</p>
      </div>
    </div>
  </div>

  <div id="modal" class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;</span>
      <div class="template eight">
        <div class="white overflow">
          <div class="white">
            <div class="div-characteristics">
              <div class="characteristics">
                <h3>Lenguaje</h3>
                <label> </label>
              </div>
            </div>
          </div>
        </div>

        <div class="div-container">
          <div id="searchbar">
            <input
              type="text"
              [(ngModel)]="terminoBusqueda"
              placeholder="Search for the user by name"
            />
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
          <div class="template three overflow">
            <ng-container *ngFor="let user of project.users">
              <div class="user-div">
                <a [routerLink]="['/user-profile', user.idUser]">
                  <div id="profile-pic">
                    <img src="../../assets/img/user.png" alt="" />
                  </div>
                </a>
                <p>{{ user.name }}</p>
                <p>{{ user.email }}</p>
                <p>{{ user.das }}</p>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
