 .four{
 grid-template-columns: 25% 25% 25% 25%;
 }
  .plantilla{
   display: grid;
  }
  #profile-pic{
    background-color: white;
    height: 80px;
    width: 80px;
    border-radius: 100%;
    border: 2px solid #002E3C;
    position: relative;
   
    display: flex;
    align-items: center;
    justify-content: center;
}
#profile-pic img{
    height: 80px;
    width: 80px;
}
.overflow {
  overflow: auto; /* Usar "auto" para mostrar el scroll solo cuando sea necesario */
  height: 550px; /* Definir una altura para el div */
  padding: 20px;
}
.user-div {
  background-color: #F5F5F5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px; /* Agrega espacio entre cada user-div */
}
