<app-aside></app-aside>
<app-header></app-header>

<section>
  <div class="template two">
    <div *ngFor="let project of projects">
        <img src="../../assets/img/logo-eviden.jpg" alt="" style="max-width: 250px; max-height: 250px;">
        
        <h3>
            {{project.name}}
        </h3>
        <div class="project-info">
            <p>{{activeMembers}} / {{project.vacancies}} Members</p>
            <button>
                Go to
            </button>
        </div>
    </div>
  </div>
</section>
