<app-aside></app-aside>
<app-header></app-header>

<section class="overflow">
  <div *ngFor="let project of projects" class="project-container">
    <h1>{{project.name}}</h1>

    <div class="plantilla four">
      <ng-container  *ngFor="let user of users" >
        <div class="user-div" *ngIf="user.project.idProject== project.idProject">
          <div id="profile-pic">
            <img src="../../../assets/img/{{user.user.profilePic}}" alt="" />
          </div>
          <p>{{user.user.name}}</p>
          <p>{{user.user.email}}</p>
          <p>{{user.user.das}}</p>
        </div>
        
      </ng-container>
    </div>
  </div>
</section>
