<app-aside></app-aside>
<app-header></app-header>

<section>
  <div class="overflow">
    <h1>NProjecto 1</h1>
    <div class="plantilla four">
      <div class="user-div">
        <div id="profile-pic">
          <img src="{{ profile_pic }}" alt="" />
        </div>
        <p>{{ name }}</p>
        <p>{{ rol }}</p>
        <p>{{ email }}</p>
      </div>
      <div class="user-div">
        <div id="profile-pic">
          <img src="{{ profile_pic }}" alt="" />
        </div>
        <p>{{ name }}</p>
        <p>{{ rol }}</p>
        <p>{{ email }}</p>
      </div>
      <div class="user-div">
        <div id="profile-pic">
          <img src="{{ profile_pic }}" alt="" />
        </div>
        <p>{{ name }}</p>
        <p>{{ rol }}</p>
        <p>{{ email }}</p>
      </div>
      <div class="user-div">
        <div id="profile-pic">
          <img src="{{ profile_pic }}" alt="" />
        </div>
        <p>{{ name }}</p>
        <p>{{ rol }}</p>
        <p>{{ email }}</p>
      </div>
      <div class="user-div">
        <div id="profile-pic">
          <img src="{{ profile_pic }}" alt="" />
        </div>
        <p>{{ name }}</p>
        <p>{{ rol }}</p>
        <p>{{ email }}</p>
      </div>
      <div class="user-div">
        <div id="profile-pic">
          <img src="{{ profile_pic }}" alt="" />
        </div>
        <p>{{ name }}</p>
        <p>{{ rol }}</p>
        <p>{{ email }}</p>
      </div>
      <div class="user-div">
        <div id="profile-pic">
          <img src="{{ profile_pic }}" alt="" />
        </div>
        <p>{{ name }}</p>
        <p>{{ rol }}</p>
        <p>{{ email }}</p>
      </div>
      <div class="user-div">
        <div id="profile-pic">
          <img src="{{ profile_pic }}" alt="" />
        </div>
        <p>{{ name }}</p>
        <p>{{ rol }}</p>
        <p>{{ email }}</p>
      </div>
    </div>

    <h1>Nombre Proyecto</h1>
    <div class="plantilla four">
      <div class="user-div">
        <div id="profile-pic">
          <img src="{{ profile_pic }}" alt="" />
        </div>
        <p>{{ name }}</p>
        <p>{{ rol }}</p>
        <p>{{ email }}</p>
      </div>
      <div class="user-div">
        <div id="profile-pic">
          <img src="{{ profile_pic }}" alt="" />
        </div>
        <p>{{ name }}</p>
        <p>{{ rol }}</p>
        <p>{{ email }}</p>
      </div>
      <div class="user-div">
        <div id="profile-pic">
          <img src="{{ profile_pic }}" alt="" />
        </div>
        <p>{{ name }}</p>
        <p>{{ rol }}</p>
        <p>{{ email }}</p>
      </div>
      <div class="user-div">
        <div id="profile-pic">
          <img src="{{ profile_pic }}" alt="" />
        </div>
        <p>{{ name }}</p>
        <p>{{ rol }}</p>
        <p>{{ email }}</p>
      </div>
      <div class="user-div">
        <div id="profile-pic">
          <img src="{{ profile_pic }}" alt="" />
        </div>
        <p>{{ name }}</p>
        <p>{{ rol }}</p>
        <p>{{ email }}</p>
      </div>
      <div class="user-div">
        <div id="profile-pic">
          <img src="{{ profile_pic }}" alt="" />
        </div>
        <p>{{ name }}</p>
        <p>{{ rol }}</p>
        <p>{{ email }}</p>
      </div>
      <div class="user-div">
        <div id="profile-pic">
          <img src="{{ profile_pic }}" alt="" />
        </div>
        <p>{{ name }}</p>
        <p>{{ rol }}</p>
        <p>{{ email }}</p>
      </div>
      <div class="user-div">
        <div id="profile-pic">
          <img src="{{ profile_pic }}" alt="" />
        </div>
        <p>{{ name }}</p>
        <p>{{ rol }}</p>
        <p>{{ email }}</p>
      </div>
    </div>
  </div>
</section>
